@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-sarif;
    transition: 0.3s ease;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    font-size: 16px;
    background-color: #181818;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:5.5rem;
}

header{
    top: 0;
    left:0;
    right:0;
    padding: 1rem 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}



header .logo{
    color: #fff;;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: #E50914;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: #E50914;
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;
    background: #E50914;
}

header .icons i:hover,
header .icons a:hover{
    color: #E50914;
    background: #fff;
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: #E50914;
}


header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;
    background: #E50914;
}

header .icons i:hover,
header .icons a:hover{
    color: #E50914;
    background: #fff;
    transform: rotate(360deg);
}
/* CARDS */

.card-container {
    min-height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em;
}

.card {
    position: relative;
    background: #fff;
    max-width: 20em;
    width: 20em;
    height: auto;
    margin: 1.5em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.6);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image {
    max-height: 14em;
}

.card-image img {
    max-width: 100%;
    height: 14em;
}

.card-info {
    position: relative;
    color: #222;
    padding: 0.6em 2.2em 2.2em;
}

.card-info h3 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0.3em;
}

.card-info p {
    font-size: 1em;
    margin-bottom: 0.3em;
}


/* PAGINATION */

.pagination {
    text-align: center;
    margin: 1.9em 1.9em 3.8em;
    user-select: none;
}

.pagination li {
    display: inline-block;
    margin: 0.3em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.3);
}

.pagination li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    line-height: 2.6em;
}

.previous-page,
.next-page {
    background: #E50914;
    width: 5em;
    border-radius: 45px;
    cursor: pointer;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page,
.dots {
    background: #ccc;
    width: 2.8em;
    border-radius: 50%;
    cursor: pointer;
}

.current-page:hover,
.dots:hover {
    transform: translateY(-5px);
}

.pagination li.active {
    background: #333;
}

.pagination li.disable {
    background: #d90707;
}


/* MEDIA QUERIES */

@media (max-width: 952px) {
    label.logo {
        font-size: 1.6rem;
        padding-left: 1rem;
    }
    nav ul li a {
        font-size: 1rem;
    }
}

@media (min-width: 100px) and (max-width: 800px) {
    body {
        font-size: 12px;
    }
    .pagination {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #121211;
        top: 4rem;
        right: -100%;
        text-align: center;
        margin: 0;
    }
    nav ul li {
        display: block;
        margin: 3rem 0;
        line-height: 2rem;
    }
    nav ul li a {
        font-size: 1.3rem;
    }
    nav ul li a.active,
    nav ul li a:hover,
    nav ul li a:focus {
        background: none;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 600;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        text-decoration: none;
    }
    #check:checked~ul {
        right: 0;
    }
}


